body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-image:url("https://lh3.googleusercontent.com/-mo7s8a-e2WA/X1J5bzmgAXI/AAAAAAAA2Sg/cYQFRl7A5W0zK0rwQvjoERsc_0_UL59sQCK8BGAsYHg/s0/2020-09-04.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   
    

}
