body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-image:url("https://lh3.googleusercontent.com/-v8o4GYpLtVg/X1J5blctR_I/AAAAAAAA2Sc/4b1AzunBMAAulnT78KAloYXCVZvM7d9LACK8BGAsYHg/s0/2020-09-04.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   
    

}
