body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-image:url("https://image.freepik.com/free-photo/fantasy-sky_90839-278.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   
    

}
