
body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-image:url("https://cnet4.cbsistatic.com/img/-TrgDZrhKZPT81UIt5zi5Jvo5D8=/1200x675/2020/05/15/101c537d-d2e5-4ee5-ae6f-21f18eb3e3ad/gettyimages-1210618112.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   
    

}
